<div *ngIf="product" class="product-detail-container">

    <div class="product-detail--overall">
        <h2>{{product.name}}</h2>
        <!--p>{{product | json}}</p-->
        <form #productForm="ngForm">
            <!-- Options -->
            <select>
                <option *ngFor="let option of product.options" [value]="option">
                    {{option}}
                </option>
            </select>
            <!-- Prices -->
            <p *ngIf="model">{{ model.price | currency }}</p>
            <!-- Buttons: 1) Cart and 2) Wishlist -->
            <div class="product-actions">
                <button mat-button (click)="addToCart()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <button mat-button (click)="toggleWishList()">
                    <mat-icon *ngIf="!onWishList">favorite_border</mat-icon>
                    <mat-icon *ngIf="onWishList">favorite</mat-icon>
                </button>
            </div>
        </form>
    </div>

    <!-- TODO: reference product image's URL rather than using the default image -->
    <img class="product-detail--image" src="./../../assets/products.jpg" alt={{product.name}}/>
    <mat-tab-group class="product-detail--more">
        <mat-tab label="Description">
            <p>{{product.description}}</p>
        </mat-tab>   
        <mat-tab label="Ingredients">
            <ul class="product-ingredients-list">
                <li>In sed felis convallis,</li>
                <li>Cras dignissim lacus,</li>
                <li>Mauris id lectus,</li>
                <li>Ut vel porttitor,</li>
                <li>Nam sed mauris,</li>
                <li>Placerat velit nec,</li>
                <li>Consequat turpis</li>
            </ul>
        </mat-tab>                 
    </mat-tab-group>
</div>

