.root__container {
    height: 100vh;
}

.main__container {
    height: 100%;
    height: calc(97vh - 40px);
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}


