$bp-tablet: 959dp;
$bp-mobile: 599dp;

@media (max-width: $bp-mobile){
    .mobile-topnav-bar {
        display: block;
    }
    .desktop-topnav-bar, .tablet-topnav-bar {
        display: none;
    }
}

@media (max-width: $bp-tablet){
    .desktop-topnav-bar, .mobile-topnav-bar {
        display: none;
    }
    .tablet-topnav-bar {
        display: block;
    }
}

.mobile-topnav-bar {
    display: none;
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

