<div class="topnav-submenu">
    <!-- Makeup Category -->
    <mat-list *ngFor="let makeupSubCategories of makeupCategory$ | keyvalue" 
        id="topnav-submenu--makeup"
        class="topnav-submenu--category-container">
        <h4 mat-subheader>{{makeupSubCategories.key | titlecase }}</h4>
        <mat-nav-list *ngFor="let subsubCategories of makeupSubCategories.value">
            <a mat-list-item href="#">{{ subsubCategories | titlecase }}</a>
        </mat-nav-list>
    </mat-list>
    <!-- Skincare Category -->
    <mat-list *ngFor="let skincareSubCategories of skincareCategory$ | keyvalue" 
        id="topnav-submenu--skincare"
        class="topnav-submenu--category-container">
        <h4>{{skincareSubCategories.key}}</h4>
        <mat-nav-list *ngFor="let subsubCategories of skincareSubCategories.value">
            <a mat-list-item href="#">{{ subsubCategories | titlecase }}</a>
        </mat-nav-list>
    </mat-list>
    <!-- Hair Category -->
    <mat-list *ngFor="let hairSubCategories of hairCategory$ | keyvalue" 
        id="topnav-submenu--hair"
        class="topnav-submenu--category-container">
        <h4>{{ hairSubCategories.key | titlecase }}</h4>
        <mat-nav-list *ngFor="let subsubCategories of hairSubCategories.value">
            <a mat-list-item href="#">{{ subsubCategories | titlecase }}</a>
        </mat-nav-list>
    </mat-list>    
</div>