<div class="topnav-submenu">
    <!-- Makeup Category -->
    <div *ngFor="let makeupSubCategories of makeupCategory$ | keyvalue" 
        id="topnav-submenu--makeup"
        class="topnav-submenu--category-container">
        <h4>{{makeupSubCategories.key | titlecase }}</h4>
        <div *ngFor="let subsubCategories of makeupSubCategories.value">
            <p>{{ subsubCategories | titlecase }}</p>
        </div>
    </div>
    <!-- Skincare Category -->
    <div *ngFor="let skincareSubCategories of skincareCategory$ | keyvalue" 
        id="topnav-submenu--skincare"
        class="topnav-submenu--category-container">
        <h4>{{skincareSubCategories.key}}</h4>
        <div *ngFor="let subsubCategories of skincareSubCategories.value">
            <p>{{ subsubCategories | titlecase }}</p>
        </div>
    </div>
    <!-- Hair Category -->
    <div *ngFor="let hairSubCategories of hairCategory$ | keyvalue" 
        id="topnav-submenu--hair"
        class="topnav-submenu--category-container">
        <h4>{{ hairSubCategories.key | titlecase }}</h4>
        <div *ngFor="let subsubCategories of hairSubCategories.value">
            <p>{{ subsubCategories | titlecase }}</p>
        </div>
    </div>    
</div>