@import '~@angular/material/theming';

@mixin desktop-topnav($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .top-nav-brand { 
        color: mat-color($primary); 
        opacity: 1;
        letter-spacing: 1.2px;
    }
    .desktop-topnav-bar a, .mobile-category-menu a {
        color: map-get($accent, 800);
        opacity: 1;
    }
}

/* Top Menu Navigation */
.mobile-topnav-bar {
    display: none;
    padding: 12px;
    .top-nav-brand {
        display: inline-block;
    }
    .mobile-topnav-brand {
        margin-left: 5%;
    }    
}

.desktop-topnav-bar {
    display: block;
    width: 100%;
    a:first-of-type {
        opacity: 1;
    }
}
.topnav-toolbar {
    // height: 100%;
    min-height: 40px;
}

.topnav-toolbar-row {
    background-color: white;
    height: inherit;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.menuAccountSettings {
    position: absolute;
    right: 10px;    
}

/** Media Queries **/

@media (max-width: 870px){
    .mobile-topnav-bar {
        display: block;
        .mobile-topnav-brand {
            margin-left: 8%;
        }
    }
    .desktop-topnav-bar, .tablet-topnav-bar {
        display: none;
    }
}

