.topnav-bar--makeup{

}

.topnav-submenu--makeup {
    display: none;
}

.topnav-submenu--skincare {
    display: none;
}

.topnav-submenu--hair {
    display: none;
}

.mobile-topnav-brand {
    margin-left: 5%;
}

/* Top Menu Navigation */
.mobile-topnav-bar {
    display: none;
}

.desktop-topnav-bar {
    display: block;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

/** Media Queries **/

$bp-tablet: 959px;
$bp-mobile: 870px;

@media (max-width: $bp-mobile){
    .mobile-topnav-bar {
        display: block;
    }
    .desktop-topnav-bar, .tablet-topnav-bar {
        display: none;
    }
}

