.topnav-bar--makeup{

}

.topnav-submenu--makeup {
    display: none;
}

.topnav-submenu--skincare {
    display: none;
}

.topnav-submenu--hair {
    display: none;
}

/** Media Queries **/

$bp-tablet: 959dp;
$bp-mobile: 599dp;

@media (max-width: $bp-mobile){
    .mobile-topnav-bar {
        display: block;
    }
    .desktop-topnav-bar, .tablet-topnav-bar {
        display: none;
    }
}

@media (max-width: $bp-tablet){
    .desktop-topnav-bar, .mobile-topnav-bar {
        display: none;
    }
    .tablet-topnav-bar {
        display: block;
    }
}

.mobile-topnav-bar {
    display: none;
}