<!-- Mobile Device View -->
<mat-card class="mobile-topnav-bar">
    <mat-card-title routerLink="/">{{brand | uppercase}}</mat-card-title>
    <mat-card-content>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="pageMenu">
        <mat-icon aria-label="Shopping Menu Button">more_vert</mat-icon>
        </button> 
    </mat-card-content>
    <mat-menu #pageMenu="matMenu">
        <a mat-menu-item routerLink="/shop/makeup" title="Makeup products">
            <span class="mdc-list-item__text">Makeup</span>
        </a>
        <a mat-menu-item routerLink="/shop/skincare" title="Skincare products">
            <span class="mdc-list-item__text">Skincare</span>
        </a>
        <a mat-menu-item routerLink="/shop/hair" title="Hair products">
            <span class="mdc-list-item__text">Hair</span>
        </a>      
    </mat-menu>
</mat-card>

<!-- Desktop View -->
<!--nav mat-tab-nav-bar class="desktop-topnav-bar">
    <a mat-tab-link routerLink="/">
        {{brand | uppercase}}
    </a>    
    <a mat-tab-link routerLink="/shop/makeup" class="topnav-bar--makeup">
        Makeup
    </a>
    <a mat-tab-link routerLink="/shop/skincare" class="topnav-bar--skinare">
        Skincare
    </a>
    <a mat-tab-link routerLink="/shop/hair" class="topnav-bar--hair">
        Hair
    </a>
</nav-->

<mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <!--div>
        <a mat-button routerLink="/">Prettify</a>
        <a mat-button routerLink="/shop/makeup">Makeup</a>
        <a mat-button routerLink="/shop/skincare">Skincare</a>
        <a mat-button routerLink="/shop/hair">Hair</a>
      </div-->
        <nav mat-tab-nav-bar class="desktop-topnav-bar">
            <a mat-tab-link routerLink="/">
                {{brand | uppercase}}
            </a>    
            <a mat-tab-link routerLink="/shop/makeup" class="topnav-bar--makeup">
                Makeup
            </a>
            <a mat-tab-link routerLink="/shop/skincare" class="topnav-bar--skinare">
                Skincare
            </a>
            <a mat-tab-link routerLink="/shop/hair" class="topnav-bar--hair">
                Hair
            </a>
        </nav>      
    </mat-toolbar-row>
<app-submenu></app-submenu>