<div class="shop-sidenav">
    <mat-toolbar class="mobile-subcategoriesToolbar">
        <mat-toolbar-row>
            <button mat-raised-button [matMenuTriggerFor]="subcategoriesMenu">
                Shop by Categories
            </button> 
            <a class="mobile-topnav-brand" routerLink="/">{{brand | uppercase}}</a>            
            <mat-menu #subcategoriesMenu="matMenu" class="mobile-subcategoriesMenu">
                <div *ngFor="let subCategory of allSubProductCategories$[category] | keyvalue"
                    class="mobile-subcategoriesMenu">
                    <h4>{{subCategory.key | uppercase}}</h4>
                    <ul>
                    <li *ngFor="let group of subCategory.value">
                        <a [title]="group" href="#">
                            {{group}}
                        </a>
                    </li>              
                    </ul>      
                </div>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="shop-sidenav--container">
        <mat-sidenav #categoriesSidenav class="shop-sidenav--categories" mode="side" opened>
            <div *ngIf="allSubProductCategories$">
                <h3>{{category | uppercase}}</h3>
                <div *ngFor="let subCategory of allSubProductCategories$[category] | keyvalue">
                    <h4>{{subCategory.key | uppercase}}</h4>
                    <div *ngFor="let group of subCategory.value">
                        <a [title]="group" href="#">
                            {{group}}
                        </a>
                    </div>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content--container">
            <div *ngIf="products$" class="products-list--wrapper">            
                <div *ngFor="let product of products$" class="product-card--container">
                    <mat-card class="product-card">
                        <a class="product-tile-link" routerLink="/details/{{product.id}}">
                            <mat-card-header class="product-card--header">
                                <mat-card-title>
                                    <h6>{{product.name}}</h6>
                                </mat-card-title>
                            </mat-card-header>
                            <img mat-card-image class="product-card--image" src="./../../assets/products.jpg" alt={{product.name}}/>
                        </a> 
                        <mat-card-content class="product-card--content">
                            <p *ngIf="product.price.length > 1">
                                <span> {{ product.price[(product.price.length-1)] | currency}} - </span>                                        
                                <span> {{ product.price[0] | currency}} </span>
                            </p>
                            <p *ngIf="product.price.length == 1">
                                <span> {{product.price[0] | currency}}</span>
                            </p>
                            <mat-card-actions>
                                <button mat-button>
                                    <!-- TO DO: add functionality for wishlist-->
                                    <mat-icon>favorite_border</mat-icon>
                                    <!--mat-icon>favorite</mat-icon-->
                                </button>
                            </mat-card-actions>
                        </mat-card-content>                        
                    </mat-card>       
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>