h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.shop-sidenav--container {
    height: 100%;
}

.shop-sidenav--categories {
    width: 180px;
    padding: 2px 10px;
    text-align: center;   
}

.products-list--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 8px; 
    justify-content: space-evenly;

    .product-card--container {
        flex: 0 0 270px;
        margin: 10px 5px;

        .product-tile-link {
            position: relative;
        }
        .product-card--header {
            justify-content: center;
        }
        .product-card--image {
            width: 200px;
            display: block;
            margin: auto;
        }
        .product-card--content {
            padding-top: 8px;
            display: flex;
            justify-content: space-around;
            p {
                margin-top: 18px;
            }
        }   

    }

}