@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';

@include mat-core();

@import 'themes.scss';
@import 'app/menus/top-menu-navigation/top-menu-navigation.component.scss';
@import 'app/home/home.component.scss';
@import 'app/shop/shop.component.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul { list-style-type: none; }
a { text-decoration: none; }

.main-theme {
    @include angular-material-theme($main-theme);
    @include desktop-topnav($main-theme);
    @include home-theme($main-theme);
    @include shop-theme($main-theme);
}