@import '~@angular/material/theming';

@mixin home-theme($theme) {
    $primary: map-get($theme, primary);  
    $accent: map-get($theme, accent);    

    .home-container {         
        border: 6px solid mat-color($primary);
    }
    .home-about {
        color: mat-color($primary, darker);
    }
    .highlight-blurb {
        color: mat-color($accent, darker);
    }
}

.home-container {
    height: 100%;
    display:flex;
    justify-content: center;
}

.home-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div:first-child {
        font-size: 1.4em;
        line-height: 2.5;
    }
}

.highlight-blurb {
    font-style: italic;
}

