<!--mat-sidenav-container style="height: 100vh;">
    <mat-sidenav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <p>Prettify</p>
            <p>Loosely inspired by prettify.js</p>
            <p>... except we select carefully curated products for your face :) </p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container-->

<div class="home-container">
    <div class="home-about">
        <div class="about-directive" [@loadedNotLoaded]="isLoaded ? 'highOpacity' : 'lowOpacity'">
            <p>Our products are curated by experts in the beauty & skincare industry.</p>
            <p>Begin browsing by selecting the categories above</p>
        </div>
        <p [@loadedNotLoaded]="isLoaded ? 'onScreen' : 'offScreen'"><span class="highlight-blurb">(Name inspired by prettify.js)</span></p>
    </div>
</div>